footer.foot
	.section
		.foot-signature
			span WONDERONE.XYZ © 2020 — 2021
		.foot-links
			button(data-click-action='front:changeScreen' data-pos='5').screen-btn.foot-link
				span Privacy policy
			button(data-click-action='front:changeScreen' data-pos='6').screen-btn.foot-link
				span Created by
	+inc('js','https://static.tildacdn.com/js/jquery-1.10.2.min.js',false)
	+inc('js','front.js',true)(type="module")
	script(type="text/javascript" src="//w446141.yclients.com/widgetJS" charset="UTF-8")