footer.foot
	.section
		.foot-signature
			span WONDERONE.XYZ © 2020 — 2021
		.foot-links
			button.foot-link
				span Privacy policy
			button.foot-link
				span Created by
	+inc('js','front.js',false)(type="module")