header.head
	.section
		.head-row
			.head-logo
				+img('logo.svg')
			button.head-burger(data-click-action='front:burgerClick')
				span
			.head-hidden
				nav.head-nav
					button(data-click-action='front:changeScreen' data-pos='0').head-btn.screen-btn.active Привет
					button(data-click-action='front:changeScreen' data-pos='1').head-btn.screen-btn Услуги
					button(data-click-action='front:changeScreen' data-pos='2').head-btn.screen-btn Адрес
					a(href='#' data-click-action='front:changeScreen' data-pos='3').ms_booking.head-btn.screen-btn Онлайн-Запись
					button(data-click-action='front:changeScreen' data-pos='4').head-btn.screen-btn Wonder one
				.head-links
					a(href='#').head-link
						+img('Facebook_icon.svg')
					a(href='#').head-link
						+img('Instagram_icon.svg')
